{% load staticfiles%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Management System</title>

    <!---Bootstrap CSS--->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!---Main CSS--->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>


    <!--Header Area Start-->
    
    <header>
      <div class="container">
          <nav class="navbar navbar-expand-lg navbar-light">
              <a class="navbar-brand" href="#"><img src="" class="img-fluid" alt="LOGO"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ml-auto align-items-center d-flex">
                      <li class="nav-item active">
                          <a class="nav-link first_item" href="{% url 'index' %}">Home</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'contest' %}">Contest</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">Rank</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">Profile</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">Tutorial</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">logout</a>
                      </li>


                  </ul>
              </div>
          </nav>
      </div>
  </header>



    <!---Header Area End--->

    <!---Banner-area Start--->
    <div class="container">


    <select class="browser-default custom-select"style="margin-top:50px;">
    <option selected>Ranking By Department</option>
    <option value="1">CSE</option>
    <option value="2">SWE</option>
    <option value="3">ALL</option>
  </select>
    </div>



    <!---Banner-area End--->
    <!-- Table -->
    <div class="container"style="margin-top: 35px;">
      <div class="row">
        <div class="col-sm-3">
          <table class="table table-bordered">
  <thead>
    <tr>

      <td colspan="2">Top list</td>

    </tr>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Point</th>
    </tr>

  </thead>
  <tbody>

    <tr>
      <td>Jacob</td>
      <td>4.00</td>
    </tr>
    <tr>
      <td>Jacob</td>
      <td>4.00</td>
    </tr>
    <tr>
      <td>Jacob</td>
      <td>4.00</td>
    </tr>
    <tr>
      <td>Jacob</td>
      <td>4.00</td>
    </tr>
    <tr>
      <td>Jacob</td>
      <td>4.00</td>
    </tr>

  </tbody>
</table>
        </div>
        <div class="col-sm">
          <form>
          </select>
          <label for="exampleFormControlInput1">List Contact</label>
              <select class="form-control">
              <option>Dropdown select</option>
              </select>
  <div class="form-group">
    <label for="exampleFormControlInput1">NAME:</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Text here">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">NAME 1:</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Text here">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">NAME 2:</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Text here">
  </div>
 </from>
        </div>
        <div class="col-sm-3">
          <table class="table table-bordered">
  <thead>
    <tr>

      <td colspan="2">Content list</td>

    </tr>
    <tr>
      <th scope="col">Name</th>

    </tr>

  </thead>
  <tbody>

    <tr>
      <td>Jacob</td>

    </tr>
    <tr>
      <td>Jacob</td>

    </tr>
    <tr>
      <td>Jacob</td>

    </tr>
    <tr>
      <td>Jacob</td>

    </tr>
    <tr>
      <td>Jacob</td>

    </tr>

  </tbody>
  </table>
  <button type="button" class="btn btn-primary btn-xs">see all</button>
        </div>
      </div>
    </div>

<!-- table -->
<div class="container"style="padding: 80px;margin: 80px;">
  <div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="row"style="padding: 50px!important;">
    <div class="col-md-3 col-sm-6">
      <div class="progress blue">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">90%</div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="progress yellow">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">75%</div>
            </div>
    </div>

    <div class="col-5">
      <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>

  </div>




  <div class="card-footer text-muted">
    Structure Details
  </div>
</div>

</div>







    <footer style="
    position: fixed;
    bottom: 0;
    width: 100%;z-index: 10;">
        <p class="text-center">copyrights@all rights reserved</p>
    </footer>
</header>
    <!---Bootstrap CDN--->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>



<script>

    $(function() {

  $(".progress").each(function() {

    var value = $(this).attr('data-value');
    var left = $(this).find('.progress-left .progress-bar');
    var right = $(this).find('.progress-right .progress-bar');

    if (value > 0) {
      if (value <= 50) {
        right.css('transform', 'rotate(' + percentageToDegrees(value) + 'deg)')
      } else {
        right.css('transform', 'rotate(180deg)')
        left.css('transform', 'rotate(' + percentageToDegrees(value - 50) + 'deg)')
      }
    }

  })

  function percentageToDegrees(percentage) {

    return percentage / 100 * 360

  }

});


    </script>

</body>

</html>
